body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;

}
#box1:hover{
    background-color: rebeccapurple;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: 4s infinite alternate box2move;
}

@keyframes box2move{
    from {
        top: 0;
        left: 0;
        background-color: red;
    }
    16.7%{
        background-color: #ffff00;
    }
    33.3%{
        background-color: #00ff00;
    }
    50%{
        background-color: #00ffff;
        top: 10em;
        left: 17.3em;
    }
    66.7%{
        background-color: #0000ff;
    }
    83.3%{
        background-color: #ff00ff;
    }
    to{
        background-color: #ff0000;
        top: 20em;
        left: 0em;
    }
}