html {
	background-color: #191919;
    background-image: repeating-linear-gradient(
		45deg,
		rgb(113, 41, 41, 0.3),
		rgb(113, 41, 41, 0.3) 2em,
		#0000 2em,
		#0000 4em
	);
    height: 100%;
    color: #ecdbc1;
    font-size: 1.5em;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.overall-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-container {
    text-align: left;
    max-width: 30%;
    margin-left: 2em;
}

#map {
    position: relative;
    width: 70vmin;
    height: 70vmin;
    box-shadow: 0 0 20px 20px #0003;
    border: solid rgb(113, 41, 41, .6) 10px;
}

/* Media query for portrait mode */
@media screen and (orientation: portrait) {
    .overall-container {
        flex-direction: column;
    }
    #map{
        position: relative;
        top: 10vw;

    }
    .text-container {
        position: relative;
        top: 10vw;
        max-width: 70%;
        margin-top: 2em;
        text-align: center;
        margin-left: 0;
    }
}

h1, p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 30px rgba(0, 0, 0, 1);
}
