html, body{
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

#logo {
    color: black;
    position: fixed;
    top: 50px;
    right: 50px;
    padding: 5em;
}

#dataDisplay {
    /*Box*/
    background-color: rgba(100,100,100,.3);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1em 1em rgba(255, 255, 255, 0.1) inset;

    /*Text*/
    color: black;
    font-weight: bold;
    line-height: 2em;

    /*Geometry*/
    position:fixed;
    padding: 0em 1em;
    top: 50px;
    left: 50px;

}

#infoBox{
    font-weight: bold;
    font-size: 2em;
}

span.kanji{
    color:red;
}
#back{
    
    min-height: 100%;
    min-width: 100%;
}
