html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
img #background{
    min-width: 100%;
    min-height: 100%;
}

#logo {
    color: black;
    position: fixed;
    top: 50px;
    right: 50px;
    padding: 0.5em;
}

#dataDisplay {
    background-color: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    color: black;
    position:fixed;
    top: 50px;
    left: 50px;
}

h2 .infoBox{
    font-weight: bold;
    font-size: 2em;
}