html {
	--spacing: 0.2em;
  --line-transparency: 0.3;
  --line-angle: 60deg;
	background-color: #191919;


	/* background-image: repeating-linear-gradient(
		var(--line-angle),
		rgb(113, 41, 41, var(--line-transparency)),
		rgb(113, 41, 41, var(--line-transparency)) var(--spacing),
		#0000 var(--spacing),
		#0000 calc(2* var(--spacing))
	); */

	height: 100%;

	color: #ecdbc1;
	font-size: 1.5em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	overflow: hidden;
}

*{
  user-select: none;
}

#canvas-container {
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
}

#center-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#settings-box {
  width: 30vh;
  height: 30vh;
  background-color: rgba(187, 87, 87, 0.5);
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.slider {
  width: 80%;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#text-container {
  width: 30vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

h1 {
  margin: 0;
  flex-grow: 0;
}

#scrollable-textbox {
  overflow-y: scroll;
  background-color: rgba(187, 87, 87, 0.5);
  flex-grow: 1;
}